.header-container {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    color: #f9faf8;
}
.header-logo {
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: end;
}
.header-links {
    margin-right: 10%;
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
}

.hero {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.hero1 {
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#logo {
    font-size: 24px;
    color: #f9faf8;
    justify-self: flex-start;
}
#subhero {
    margin-top: 0%;
    color: #e5e7eb;
    font-size: 18px;
}
#one {
    margin-bottom: 0%;
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}
button {
    background-color: #3882f6;
    color: #f9faf8;
    
}
#zero {
    margin-top: 10%;
    margin-right: 10%;
}