.header-container {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    color: #f9faf8;
}
.header-logo {
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: end;
}
.header-links {
    margin-right: 10%;
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
}

.hero {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.hero1 {
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#logo {
    font-size: 24px;
    color: #f9faf8;
    justify-self: flex-start;
}
#subhero {
    margin-top: 0%;
    color: #e5e7eb;
    font-size: 18px;
}
#one {
    margin-bottom: 0%;
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}
#ton {
    margin-top: 0%;
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 6px;
}
#zero {
    margin-top: 10%;
    margin-right: 10%;
}
h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
    text-align: center;
}
.illustrations {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
#img1 {
    display: flex;
    flex-direction: column;
    border: #3882f6;
    border-radius: 6px;
}
#img2 {
    display: flex;
    flex-direction: column;
    border: #3882f6;
    border-radius: 6px;
}
#img3 {
    display: flex;
    flex-direction: column;
    border: #3882f6;
    border-radius: 6px;
}
#img4 {
    display: flex;
    flex-direction: column;
    border: #3882f6;
    border-radius: 6px;
}
#im1 {
    border-radius: 20px;
}
#im2 {
    border-radius: 20px;
}
#im3 {
    border-radius: 20px;
}
#im4 {
    border-radius: 20px;
}
.inspire-container {
    padding-top: 10%;
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
}
.para {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}
#thor {
    text-align: right;
    margin-bottom: 15%;
    font-weight: 600;
    font-style: normal;
}
.call-container {
    background-color: white;
}
.call {
    padding: 10px;
    display: flex;
    background-color: #3882f6;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin: 10%;
}
#para2 {
    color: #f9faf8;
}
.but {
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
button {
    border: 3px solid white;
    margin-top: 50%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 6px;
}
.footer-container {
    background-color: #1f2937;
    padding: 50px;
    color: #f9faf8;
}
#copy {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
